
extends ../layout/common.pug

block content
	h1 Borrow a book from the library

	form(method="POST" class="d-flex m-3")
		label(class="mr-3") UserName:
		span &nbsp;
		select(name="userName")
			each user in users
				option(value=user.name)=user.name
		label(class="mr-3") BookTitle: 
		span &nbsp;
		select(name="bookTitle")
			each book in books
				option(value=book.title)=book.title
		if !hide
			button(class="btn btn-primary") Borrow
	ul(class="mr-3")
		each tran in transactions
			-var check = tran.isComplete ? "Đã trả" : "Chưa trả"
			li= tran.bookTitle
			span &nbsp;
			if !hide
				a(href='/transactions/'+ tran.id + "/complete") Complete
			span.text-primary= "-" + check
	span.h3.text-info Sách muốn mượn 
	table.table
		thead
			th Tên sách
			th Số lượng
			
		tbody
			each val, key in borrows
				tr
					td= key
					td= val
					
	
	
